body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


.wiki ul, .wiki ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.wiki code {
    background-color: #f7f7f7 !important;
    color: #333 !important;
}


.wiki p, .wiki li {
    margin-bottom: 1em !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: #333 !important;
}


.task-list-item {
    margin-left: 1em !important;
}


.task-list-item-checkbox {
    margin: 0 .2em .25em -.8em !important;
    font-size: 2em !important;
}


.highlight {
    padding: .625em 1.25em !important;
    border-radius: .2em !important;
    border: none !important;
    background-color: #f7f7f7 !important;
    font-size: .85em !important;
}


.file-holder .file-title .file-actions {
    /* Ensure the file actions is properly aligned vertically. */
    top: 6px;
}


ul.notes .note .note-body .note-text p {
    /* Ensure the text of notes has enough contrast to be readable. */
    color: #333 !important;

    /* A little bit reduce the text size for notes. */
    font-size: .9375em;
}


.timeline .timeline-entry {
    /* Adjust padding for timeline entry to ensure is properly aligned
     * vertically. */
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
