:root {
    --body-color: #24292e;
    --link-color: #0366d6;
    --code-color: var(--body-color);
    --code-background-color: #f6f8fa;
}


body {
    /* Use system fonts when possible and fallback to defaults othervise. */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


code,
.code.white {
    background-color: var(--code-background-color);
    border-color: var(--code-background-color);
    color: var(--code-color);
}


.code.white {
    /* Add padding to code snippets for better readability */
    padding: 1em;
}


.code.white code {
    /* Ensure the nested code tag inherits the background-color of their parent */
    background-color: inherit;
}


.wiki ul, .wiki ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.wiki code {
    font-size: 85%;

    background-color: rgba(27,31,35,0.05);
    color: var(--code-color);
}


.wiki pre {
    font-size: 90%;
    line-height: 1.4;
}


.wiki p, .wiki li {
    margin-bottom: 1em !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    color: var(--body-color);
}


a,
a:hover,
.wiki a,
.wiki a:hover,
.discussion-headline-light a,
.discussion-headline-light a:hover {
    /* Use more contast color for links */
    color: var(--link-color);
}


.task-list-item {
    /* Remove left margin from task items */
    margin-left: 1em !important;

    /* Space out list items for better readability */
    margin-bottom: 1em;
}


.task-list-item-checkbox {
    margin: 0 .2em .25em -.8em !important;
    font-size: 2em !important;
}


.file-holder .file-title .file-actions {
    /* Ensure the file actions is properly aligned vertically. */
    top: 6px;
}


ul.notes .note .note-body .note-text p {
    /* Ensure the text of notes has enough contrast to be readable. */
    color: #333 !important;

    /* A little bit reduce the text size for notes. */
    font-size: .9375em;
}


ul.notes .system-note {
    /* Remove extra padding from system notes */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.note-headline-light, .discussion-headline-light {
    color: rgba(0,0,0,0.85);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


.timeline .timeline-entry {
    /* Adjust padding for timeline entry to ensure is properly aligned
     * vertically. */
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}


.issuable-details .title {
    /* Add margin between issue/mr title and description. */
    margin-bottom: 1em;
}
